.App {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-page {
    text-align: center;
  }
  
  .new-file-btn {
    display: inline-block;
    background-color: #caeb23;
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .file-list {
    list-style-type: none;
    padding: 0;
  }
  
  .file-list li {
    margin-bottom: 10px;
  }
  
  .file-list a {
    color: #333;
    text-decoration: none;
  }
  
  /*Toolbar*/
  .editor-page {
    display: flex;
    flex-direction: center;
    height: 100px;
  }
  
  /*btn contain back*/
  .editor-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .back-button {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .title-input {
    font-size: 1.5em;
    padding: 5px;
    flex-grow: 1;
  }
  
  .toolbar {
    display: flex;
    gap: 10px;
  }
  
  .toolbar button {
    padding: 5px;
    background-color: #b5df1d;
    color:  rgb(14, 13, 13);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toolbar button:hover {
    background-color: #b6ccdb;
  }
  
  .editor-container {
    display: flex;
    flex-grow: 1;
    gap: 20px;
  }
  
  .markdown-input, .markdown-preview {
    flex: 1;
    min-height: 600px;
    min-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
  }
  
  .markdown-input {
    font-family: monospace;
    resize: none;
  }
  
  .markdown-preview {
    background-color: #ffffff;
    color: #000000;
  }
  
  /*  lisibilité du markdown */
  .markdown-preview h1, .markdown-preview h2, .markdown-preview h3, 
  .markdown-preview h4, .markdown-preview h5, .markdown-preview h6 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .markdown-preview p {
    margin-bottom: 10px;
  }
  
  .markdown-preview code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  /* Markdown contain preview Code Shortcuts**/
  .markdown-preview pre {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
  }
  
  .markdown-preview blockquote {
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-left: 0;
    color: #666;
  }
  
  .markdown-preview ul, .markdown-preview ol {
    padding-left: 20px;
  }
  
  .markdown-preview img {
    max-width: 100%;
    height: auto;
  }